
    
:root{
  --platinium:#EAEAEA;
  --antiflash-white:#f4f6f8;
  --oxford-blue: #0B132B;
  --space-cadet: #1C2541;
  --true-blue: #4F6D92;
  --verdigris: #3d74a7;
  --black:#333333;
  --line:#dddee0;
  --muted:#6b7280;
  --shadow:0 4px 18px rgba(2, 8, 23, 0.06);
  --card-border-radius: 10px;
  
}

*{
    box-sizing:border-box
}
html,body{
    height:100%;
    font-size: 14px;
}
body{
  background:var(--platinium);
  color:var(--black);
  font-family: "Inter", sans-serif; 
}

button{
  border: none;
}
input, select {
    background-color: rgba(255, 255, 255, 0.527) !important;
}

@media (min-width: 1441px )  {
    html,body{
        font-size: 16px;
    }

    .card {
        height: calc(100vh - 150px);
    }
}

@media (min-width: 2560px) {
    html,body{
        font-size: 22px;
    }
}
