
    
:root{
  --platinium:#EAEAEA;
  --antiflash-white:#f4f6f8;
  --oxford-blue: #0B132B;
  --space-cadet: #1C2541;
  --true-blue: #4F6D92;
  --verdigris: #5DC0BF;
  --black:#333333;
  --line:#dddee0;
  --muted:#6b7280;
  --shadow:0 4px 18px rgba(2,8,23,.06);
}

*{
    box-sizing:border-box
}
html,body{
    height:100%;
    font-size: 14px;
}
body{
  background:var(--platinium);
  color:var(--black);
  font-family: "Inter", sans-serif; 
}

button{
  border: none;
}

.app{
  display:grid; 
  grid-template-columns: 17em 1fr; 
  min-height:100vh;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

/* Responsive
@media (max-width: 1040px){
  .app{grid-template-columns:70px 1fr}
  .sidebar{padding:16px 8px}
  .sidebar .brand{display:none}
  .nav a span{display:none}
  .grid{grid-template-columns:1fr}
} */