.navbar {
    background-color: var(--space-cadet);
}

.menu-icon {
    color: var(--antiflash-white);
}

.logo {
    font-family: "Funnel Display", sans-serif;
    color: var(--antiflash-white);
}

.nav-link.active {
    background-color: var(--oxford-blue) !important;
    color: var(--antiflash-white);
}

.nav-link {
    color: var(--antiflash-white);
}

.nav-link:hover {
    color: var(--verdigris);
}


/* Sidebar */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

.app.sidebar-collapsed {
    grid-template-columns: 70px 1fr;
}

/* Cards */
.card {
    border-radius: 10px;
    border: 1px solid var(--line);
    background: var(--antiflash-white);
    box-shadow: var(--shadow);
    height: 100%;
    min-height: 80vh;
}

.icon {
    font-size: 40px;
    display: block;
    text-align: center;
}

.requester {
    text-align: center;
}

.note {
    font-size: 0.85rem;
    color: var(--muted);
}

.attachments {
    li :hover {
        background-color: rgb(255, 62, 62);
    }
}

.btn-primary {
    background: var(--verdigris);
    border: none;
}

.btn-secondary {
    background: var(--platinium);
    border: none;
    color: var(--black);
}