
.navbar {
    background-color: var(--space-cadet);
}

.material-symbols-outlined {
    color: var(--antiflash-white);
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24;
}

.logo {
    font-family: "Funnel Display", sans-serif;
    color: var(--antiflash-white);
}

.nav-link.active {
    background-color: var(--oxford-blue) !important;
    color: var(--antiflash-white);
}

.nav-link {
    color: var(--antiflash-white);
}

.nav-link:hover {
    color: var(--verdigris);
}


/* Sidebar */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

.card {
    border-radius: var(--card-border-radius);
    min-height: 82vh;
    background-color: var(--antiflash-white);
    box-shadow: var(--shadow);
}

table,
tbody,
th,
td {
    background-color: var(--antiflash-white) !important;
}

table,
tbody,
td {
    height: 3.7rem;
    vertical-align: middle;
}

.btn-primary {
    background-color: var(--verdigris);
    border: var(--verdigris);
}