
.navbar {
    background-color: var(--space-cadet);
}

.menu-icon {
    color: var(--antiflash-white);
}

.logo {
    font-family: "Funnel Display", sans-serif;
    color: var(--antiflash-white);
}

.nav-link.active {
    background-color: var(--oxford-blue) !important;
    color: var(--antiflash-white);
}

.nav-link {
    color: var(--antiflash-white);
}

.nav-link:hover {
    color: var(--verdigris);
}

.btn-close {
    font-size: 0.6em;
}


/* Sidebar */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

/* Cards */
.card-requester, .card-actions, .card-tickets-list {
    border: 1px solid var(--line);
    background: var(--antiflash-white);
    box-shadow: var(--shadow);
    height: calc(100vh - 70px);
    overflow: auto;
    
}

table,
tbody,
th,
td {
    background-color: var(--antiflash-white) !important;
}

table,
tbody,
td {
    height: 3.7rem;
    vertical-align: middle;
}

.ql-toolbar.ql-snow {
    padding: .375rem .75rem;
    border-radius: var(--bs-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#editor {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 15em;
}

.card-header-support {
    background-color: #1c2541;
    color: var(--antiflash-white);
}

.card-header-requester {
    background-color: #3d74a7;
    color: var(--antiflash-white);
}

.btn-primary {
    background-color: var(--verdigris);
}