
:root {
    --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.75%29'/%3e%3c/svg%3e) !important;
}

.navbar {
    background-color: var(--space-cadet);
}

.menu-icon {
    color: var(--antiflash-white);
}

.logo {
    font-family: "Funnel Display", sans-serif;
    color: var(--antiflash-white);
}

.nav-link-navbar.active {
    background-color: var(--oxford-blue) !important;
    color: var(--antiflash-white);
}

.nav-link-navbar {
    color: var(--antiflash-white);
}

.nav-link-navbar:hover {
    color: var(--verdigris);
}

.btn-tab-close {
    font-size: 0.6em;
}


/* Sidebar */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

.card-body {
    background-color: #F5F5F5;
}

/* Cards */
.card-requester, .card-actions, .card-tickets-list, .accordion-item{
    border: 1px solid var(--line);
    background: var(--antiflash-white);
    box-shadow: var(--shadow);
}

.card-requester, .card-actions{
    height: calc(100vh - 70px);
    overflow: auto;
}

.card-table {
    background-color: var(--antiflash-white);
    max-height: calc(100vh - 130px);
}

.card-tickets-list {
    height: calc(100vh - 130px);
    overflow: auto;
}

.accordion-button {
    background: var(--antiflash-white);
}

.accordion-button:not(.collapsed) {
    color: var(--oxford-blue);
    background-color: var(--antiflash-white);
}

.nav-link-sub-status.active {
    background-color: var(--antiflash-white) !important;
    color: var(--oxford-blue) !important;
}

.nav-link-sub-status {
    color: var(--verdigris);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

table,
tbody,
th,
td {
    background-color: var(--antiflash-white) !important;
}

table,
tbody,
td {
    height: 3.7rem;
    vertical-align: middle;
}

.ticket-info-value {
    background-color: #eaeaea88 !important;
}

.ql-toolbar.ql-snow {
    padding: .375rem .75rem;
    border-radius: var(--bs-border-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#editor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 10em;
    height: fit-content;
    max-height: 25em;
    overflow: auto;
}

.card-body {
    background-color: #F5F5F5;
}

.card-header-support {
    background-color: #1c2541;
    color: var(--antiflash-white);
}

.card-header-support.intern-action {
    background-color: #334546;
    color: var(--antiflash-white);
}

.card-header-requester {
    background-color: #3d74a7;
    color: var(--antiflash-white);
}

.modal-content {
    background-color: var(--antiflash-white);
}

.form-check-input {
    border-color: #5f5f5f;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    background-color: #318fe7 !important;
    border-color: #318fe7 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
}

.btn-primary {
    background-color: #318fe7;
    color: var(--antiflash-white);
}

.btn-transcrever {
    background-color: var(--verdigris);
    color: var(--antiflash-white);
}

.btn-transcrever:hover {
    background-color: #314ce7;
    color: var(--antiflash-white);
}