
.navbar {
    background-color: var(--space-cadet);
}

.menu-icon {
    color: var(--antiflash-white);
}

.logo {
    font-family: "Funnel Display", sans-serif;
    color: var(--antiflash-white);
}

.nav-link.active {
    background-color: var(--oxford-blue) !important;
    color: var(--antiflash-white);

    
}

.nav-link {
    color: var(--antiflash-white);
}

.nav-link:hover {
    color: var(--verdigris);
}

.btn-close {
    font-size: 0.6em;
}


/* Sidebar */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

.card-table {
    background-color: var(--antiflash-white);
    max-height: calc(100vh - 130px);
}

.card-tickets-list {
    height: calc(100vh - 130px);
}

.accordion-button {
    background: var(--antiflash-white);
}

.accordion-button:not(.collapsed) {
    color: var(--oxford-blue);
    background-color: var(--antiflash-white);
}

/* Cards */
.card-requester, .card-actions, .card-tickets-list, .accordion-item {
    border: 1px solid var(--line);
    background: var(--antiflash-white);
    box-shadow: var(--shadow);
    
}

.card-requester, .card-actions{
    height: calc(100vh - 70px);
    overflow: auto;
}

.ticket-info-value {
    background-color: #eaeaea88 !important;
}

table,
tbody,
th,
td {
    background-color: var(--antiflash-white) !important;
}

table,
tbody,
td {
    height: 3.7rem !important;
    vertical-align: middle !important;
}

.attachments {
    li {
        height: fit-content !important;
    }
}

.card-header-support {
    background-color: #1c2541;
    color: var(--antiflash-white);
}

.card-header-requester {
    background-color: #3d74a7;
    color: var(--antiflash-white);
}



