/* Sidebar custom */
.offcanvas {
    background: var(--oxford-blue);
    color: var(--antiflash-white);
}

.logo {
    font-family: "Funnel Display", sans-serif;
}

.offcanvas .logo {
    font-weight: 800;
    font-size: 1.7rem;
}

.offcanvas .btn {
    text-align: left;
    color: var(--antiflash-white);
    border: none;
}

.offcanvas .btn:hover {
    background: var(--space-cadet);
    transition: background 0.5s;
}

.offcanvas .btn.active {
    background: var(--space-cadet);
}

.card {
    border-radius: var(--card-border-radius);
    min-height: 79vh;
}

h2 {
    color: var(--oxford-blue);
}

.card {
    background-color: var(--antiflash-white);
    border: none;
    box-shadow: var(--shadow);
}

table,
tbody,
th,
td {
    background-color: var(--antiflash-white) !important;
}

table,
tbody,
td {
    height: 3.7rem;
    vertical-align: middle;
}

.btn-primary {
    background-color: var(--verdigris);
    border: var(--verdigris);
}